
h1 {
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Capriola', sans-serif; */
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #0b174d;
    text-align: center;
    font-size: 3rem;
}

p {
    color: #ececec;
}


/* Home Section */

#home {
    font-family: 'Capriola', sans-serif;
    background-color: #273b65;
    background-image: linear-gradient(#0b174d, #16266b, #2e45a6);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

.container-fluid {
    padding: 3% 15%;
}

.title-container {
    text-align: center;
    padding: 5em;
}

.earth-img {
    display: block;
    margin: 5rem auto;
    width: 50%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.title-icon {
    color: #0b174d;
    margin-bottom: 1rem;
}

.title-icon:hover {
    color: white;
}

/* Flowers Section */

#flowers {
    padding: 7% 0;
}

.card {
    height: 90%;
    overflow: hidden;
}

.card img {
    transition: transform .4s, filter 1.5s ease-in-out;    
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card:hover img {
    opacity: 0.5;
    transform: scale(1.2);
}

.card-img-overlay>h5, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h5, .card-img-overlay:hover p{
    visibility: visible;
}

/* Trees Section */

/* Credits Section */
