/* Home Section */
#home {
    font-family: 'Capriola', sans-serif;
    background-color: #273b65;
}

.nav-link {
    font-size: 1.2rem;
   
}

h1 {
    /* font-family: 'Kumar One Outline', cursive; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Capriola', sans-serif; */
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}

.title-and-img {
    text-align: center;
    padding: 5em;
}

.earth-img {
    padding: 5em;
}

/* Trees Section */

/* News Section */

/* FAQ Section */

/* Credits Section */
