body {
    font-family: 'Capriola', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 3rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #0b174d;
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-family: 'Lobster', cursive;
    text-decoration: underline;
    color: white;
}

h4 {
    font-size: 100%;
}

p {
    color: #ececec;
}


/* Home Section */

#home {
    background-image: linear-gradient(#0b174d, #16266b, #2e45a6);
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    font-size: 1.8rem;
    color: #0b174d;
}

.container-fluid {
    padding: 3% 15%;
}

.title-container {
    text-align: center;
    padding: 5em;
}

.earth-img {
    display: block;
    margin: 5rem auto;
    width: 50%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.title-icon {
    color: white;
    margin-bottom: 1rem;
}

.title-icon:hover {
    color: #0b174d;
}

/* Flowers Section */

#flowers {
    padding: 7% 0;
    background-color: #5d6db4;
}

.card {
    height: 90%;
    overflow: hidden;
}

.card img {
    transition: transform .4s, filter 1.5s ease-in-out;    
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card:hover img {
    opacity: 0.5;
    transform: scale(1.2);
}

.card-img-overlay>h5, .card-img-overlay>p{
    visibility:hidden;
}

.card-img-overlay:hover h5, .card-img-overlay:hover p{
    visibility: visible;
}

.card p {
    color: black;
}

/* Trees Section */

#trees {
    padding: 7% 0;
    background-color: #334d85;
}



/* Credits Section */

#credits {
    background-color: #12205f;
    color: white;
    text-align: center;
}

.footer-icon {
    margin: 0 0 0 1%;
    color: white;
}

.footer-icon:hover {
    color: lightblue;
}